body{
  text-align: center;
}

.rating
{
   display: inline-block;
}

.radio_b{
  display: none; /*скрываем radio buttons*/
}

label{
  font-size: 20pt;
  color: #DFCCFF; /*заливка звезд без выделения*/
  float: right;
  padding: 0 5px;
}

.rating *:hover ~ label, label:hover{ /*заливаем звезды при наведении*/
  color: #FAFA3E;
  cursor: pointer; /*меняем форму курсора при наведении*/
}


.rating > input:checked ~ label{ /* заливаем звезды при нажатии*/
  color: #FFDB0D;
}