body {
height:auto;
}

.ie {
float:right;
}

.browsers {
float:left;
}

.browser_icon {
overflow:hidden;
width:120px;
height:128px;
margin-right:10px;
}

span {
position:relative;
top:50px;
left:25px;
}

