img[src="./img/chrome.png"], 
img[src="./img/firefox.png"], 
img[src="./img/opera.png"], 
img[src="./img/safari.png"], 
img[src="./img/yandex.png"], 
img[src="./img/ie.png"]{
  position: relative;
  top: 0px;
} 

img {
  position: relative;
  top: -30px;
}

.browser {
display:inline-block;
overflow:hidden;
width:120px;
height:128px;
}

.text {
display:table-cell;
text-align:center;
vertical-align:middle;
width:inherit;
height:inherit;
}

.ie {
float:right;
}

