body {
    padding-top: 25px;
    width:450px;
    margin:auto;
}
input {
    margin-left: 10px;
    width:24px;
}
.output {
    width: 100%;
    margin-top: 25px;
    background-color: #CCFFCC;
}
.progress_bar {
    margin-top: 20px;
    width: 210px;
    border-radius: 12px;
    background: linear-gradient(to top, #ffffff 43%, #f4f4f4 79%, #cecece 100%);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.29);
    height: 13px;
}
.percents {
    position: relative;
    top: -13px;
    margin-left: 47%;
    font-family: Verdana;
    font-size: 7pt;
}
.bar {
    width: 0;
    border-radius: 12px;
    background: linear-gradient(to top, #28bf14 0%, #8bda1a 14%, #28bf14 49%, #abff58 100%);
    height: 13px;
    transition: width 0.05s linear;
}
.btn {
    width: 80px;
    height: 20px;
    background-origin: padding-box, border-box;
    background-clip: padding-box, border-box;
    background-image: linear-gradient(to top, #e2e2e2 33%, #f2f2f2 70%), linear-gradient(to top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.1));
    border: 1px solid transparent;
    border-radius: 7px;
    font-family: Verdana;
    font-size: 8pt;
    text-shadow: 0 1px 0 #ffffff;
}
.btn:hover {
    background-image: linear-gradient(to top, #fdffcc 33%, #feffeb 70%), linear-gradient(to top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.1));
}
.btn:focus {
    border: 1px solid #cde9ff;
    box-shadow: 0 0 4px rgba(0, 35, 214, 0.94);
    outline: none;
}
.btn:active {
    background-image: linear-gradient(to top, #e2e2e2 33%, #f2f2f2 70%), linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.1));
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.26);
}
